@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// SCSS Variable Naming Convention( variable_name_usage-type )
@font-face {
  font-family: "Visa";
  src: url("../../font/Visa/visaFont.woff") format('woff');
}
@font-face {
  font-family: "Visa_True";
  src: url("../../font/Visa/visaFont.ttf") format('truetype');
}

$global-theme: var(--global-theme);
$global-theme-hover: var(--global-theme-light);

// Grid
$global-row-height: var(--global-row-height);

// layout size
$document_width-size: 100vw;
$document_height-size: 100vh;

// Typo font family
// visaFont.woff
$primary_font-family: 'Open Sans', sans-serif;
$secondary_font-family: "Visa_True", sans-serif;

// Typo and Background Colors
$global-orange-gradient: #F7BD19;
$global-secondary-blue: #FFD700;
$global-secondary-text: #F7B600;
// $global-blue-gradient: #003EA9;
$global-blue-gradient: #000;
$global-primary-blue: #b3b3b3;
// $global-primary-blue: #1951B1;
// $global-primary-text: #1A1F71;
$global-primary-text: #191919;
// $global-primary-light: #dfebff;
$global-primary-light: #f4f4f4;
$global-horizontal-sidebar-background: linear-gradient(
  90deg,
  #4c8af5 0%,
  #2354a8 100%
);
$global-vertical-sidebar-background: linear-gradient(
  180deg,
  #4c8af5 0%,
  #51abde 100%
);
$global-success: #ddf0ea;
$global-warning: #fff5da;
$global-error: #fbe2e1;
$global-outside-stroke: #d3e2f8;
$global-banner-background: linear-gradient(
  191.66deg,
  #4c8af5 -9.25%,
  #4c8af5 -9.24%,
  #51abde 111.8%
);

$global-theme-orange-shade-1: linear-gradient(
  90deg,
  #de983a -3.49%,
  #f58533 103.49%
);
$global-theme-orange-shade-2: linear-gradient(
  90deg,
  rgba(222, 152, 58, 0.9) -3.49%,
  rgba(245, 133, 51, 0.9) 103.49%
);
$global-theme-orange-shade-3: linear-gradient(
  90deg,
  rgba(222, 152, 58, 0.8) -3.49%,
  rgba(245, 133, 51, 0.8) 103.49%
);
$global-theme-orange-shade-4: linear-gradient(
  90deg,
  rgba(222, 152, 58, 0.7) -3.49%,
  rgba(245, 133, 51, 0.7) 103.49%
);
$global-theme-orange-shade-5: linear-gradient(
  90deg,
  rgba(222, 152, 58, 0.6) -3.49%,
  rgba(245, 133, 51, 0.6) 103.49%
);
$global-theme-orange-shade-6: linear-gradient(
  90deg,
  rgba(222, 152, 58, 0.5) -3.49%,
  rgba(245, 133, 51, 0.5) 103.49%
);
$global-theme-orange-shade-7: linear-gradient(
  90deg,
  rgba(222, 152, 58, 0.4) -3.49%,
  rgba(245, 133, 51, 0.4) 103.49%
);
$global-theme-orange-shade-8: linear-gradient(
  90deg,
  rgba(222, 152, 58, 0.3) -3.49%,
  rgba(245, 133, 51, 0.3) 103.49%
);
$global-theme-orange-shade-9: linear-gradient(
  90deg,
  rgba(222, 152, 58, 0.2) -3.49%,
  rgba(245, 133, 51, 0.2) 103.49%
);
$global-theme-orange-shade-10: linear-gradient(
  90deg,
  rgba(222, 152, 58, 0.1) -3.49%,
  rgba(245, 133, 51, 0.1) 103.49%
);

$global-theme-blue-shade-1: linear-gradient(
  90deg,
  #51abde 21.35%,
  #4c8af5 100%
);
$global-theme-blue-shade-2: linear-gradient(
  90deg,
  rgba(81, 171, 222, 0.9) 21.35%,
  rgba(76, 138, 245, 0.9) 100%
);
$global-theme-blue-shade-3: linear-gradient(
  90deg,
  rgba(81, 171, 222, 0.8) 21.35%,
  rgba(76, 138, 245, 0.8) 100%
);
$global-theme-blue-shade-4: linear-gradient(
  90deg,
  rgba(81, 171, 222, 0.7) 21.35%,
  rgba(76, 138, 245, 0.7) 100%
);
$global-theme-blue-shade-5: linear-gradient(
  90deg,
  rgba(81, 171, 222, 0.6) 21.35%,
  rgba(76, 138, 245, 0.6) 100%
);
$global-theme-blue-shade-6: linear-gradient(
  90deg,
  rgba(81, 171, 222, 0.5) 21.35%,
  rgba(76, 138, 245, 0.5) 100%
);
$global-theme-blue-shade-7: linear-gradient(
  90deg,
  rgba(81, 171, 222, 0.4) 21.35%,
  rgba(76, 138, 245, 0.4) 100%
);
$global-theme-blue-shade-8: linear-gradient(
  90deg,
  rgba(81, 171, 222, 0.3) 21.35%,
  rgba(76, 138, 245, 0.3) 100%
);
$global-theme-blue-shade-9: linear-gradient(
  90deg,
  rgba(81, 171, 222, 0.2) 21.35%,
  rgba(76, 138, 245, 0.2) 100%
);
$global-theme-blue-shade-10: linear-gradient(
  90deg,
  rgba(81, 171, 222, 0.1) 21.35%,
  rgba(76, 138, 245, 0.1) 100%
);

$global-grey-shade-1: #F7F7F7;
$global-grey-shade-2: #EEEEEE;
$global-grey-shade-3: #DEDEDE;
$global-grey-shade-4: #B9B9B9;
$global-grey-shade-5: #979797;
$global-grey-shade-6: #5C5C5C;
$global-grey-shade-7: #2C2C2C;

$outer-card-shadow-blue-background: #c4c4c4;
$outer-card-shadow-blue-border-shadow: 0px 45px 87px -56px #d8ebff;

$inner-card-shadow-blue-background: #c4c4c4;
$inner-card-shadow-blue-border-shadow: inset 0px -3px 0px #51abde;

// Typo Size
$default_font-size: 14px; // 14px
$small_font-size: 12px; // 12px
$smaller_font-size: 10px; // 12px
$h6_font-size: 16px; // 16px
$h5_font-size: 18px; // 18px
$h4_font-size: 22px; // 20px
$h3_font-size: 27px; //24px
$h2_font-size: 28px; //32px
$h1_font-size: 39px; // 40px
// $default_font-size: 1em; // 14px
// $small_font-size: 0.857em; // 12px
// $h6_font-size: 1.142em; // 16px
// $h5_font-size: 1.285em; // 18px
// $h4_font-size: 1.428em; // 20px
// $h3_font-size: 1.714em; //24px
// $h2_font-size: 2.2825; //32px
// $h1_font-size: 2.857; // 40px

// Typo Colors
$default_typo-color: #051226;
$default_typo-color-2: #394a64;
$dark_gray_typo-color: #17407d;
$gray_typo-color: #a8a8a8;
$light_gray_typo-color: #73839c;
$lightest_gray_typo-color: #e0e0e0;
$default_link-color: #0052cc;
$default_button-color: #f58533;
$default_link-color-underline: #0052cc;
$hover_link-color: #0e82a9;

//status colors
$red_status-color: #DE350B;
$green_status-color: #1d9c72;
$green_status__bg-color: #ddf0ea;
$yellow_status-color: #ffbb07;
$blue_status-color: #0099cc; //#1e88e5 - OLD
$blue_status__bg-color: #f9fafc; // BG

$gray_status-color: #757575;

//chips colors
$gray_chip-color: #f0f0f0;
$red_chip-color: #DE350B;
$green_chip-color: #1d9c72;
$yellow_chip-color: #ffbb07;
$blue_chip-color: #3f79b8;

//other colors
$default_line-color: #e0e0e0;
$default_app-background: #f5f6fa;
$card-header-background: #f2f2f2;
// $light_background-color: var(--global-theme-light-shade-9);
$light_background-color: #dbf1fd;

// border color
$border-color: #e0e0e0;

// avatar bg colors
$avatar_bg-blue: #4283f6;
$avatar_bg-orange: #ee5838;
$avatar_bg-yellow: #f5ac41;
$avatar_bg-green: #50b27d;
$avatar_bg-maroon: #c04366;
$avatar_bg-purple: #6655c0;
$avatar_bg-showMore: #3a99cc;

$card_border-green: #97e6b4;
$card_border-blue: #9fbbf6;
$card_border-pink: #f1c1dc;
$card_border-yellow: #f2d0aa;
$card_border-red: #ef939f;
$card_border-purple: #aabae2;

$toolbar-height: 60px;
$subHeader-height: 48px;
$tabs-height: 44px;

// Table Conditional Colors
$conditonal-green: #b8e0cb;
$conditonal-red: #fbbdb0;

// Report Card
$report-card-green: #4eb27d;
$report-card-blue: #4184fe;
$report-card-purple: #9644c8;
$report-card-default: #c2c2c2;

$report-card-bg-purple: #d5b4e9;
$report-card-bg-default: #fff;
$report-card-bg-green: #b8e0cb;
$report-card-bg-blue: #b3ceff;

:export {
  conditonalGreen: $conditonal-green;
  conditonalRed: $conditonal-red;
}
