<div class="shimmer" id="doc-sk{{id}}">
    <div class="shimmer__wrapper">
  
      <div class="shimmer__item">
        <div>
          <div class="shimmer__block" style="max-width: 148px"></div>
          <div class="shimmer__block" style="max-width: 128px"></div>
          <div class="shimmer__block" style="max-width: 158px"></div>
        </div>
        <div>
          <div class="shimmer__block" style="max-width: 515px"></div>
        </div>
      </div>
  
      <div class="shimmer__item">
        <div>
          <div class="shimmer__block" style="max-width: 64px"></div>
          <div class="shimmer__block" style="max-width: 286px"></div>
        </div>
        <div>
          <div class="shimmer__block" style="max-width: 351px"></div>
        </div>
      </div>
  
      <div class="shimmer__item">
        <div>
          <div class="shimmer__block" style="max-width: 254px"></div>
          <div class="shimmer__block" style="max-width: 129px"></div>
          <div class="shimmer__block" style="max-width: 162px"></div>
        </div>
        <div>
          <div class="shimmer__block" style="max-width: 190px"></div>
        </div>
      </div>

      <div class="shimmer__item">
        <div>
          <div class="shimmer__block" style="max-width: 254px"></div>
          <div class="shimmer__block" style="max-width: 129px"></div>
          <div class="shimmer__block" style="max-width: 162px"></div>
        </div>
        <div>
          <div class="shimmer__block" style="max-width: 190px"></div>
        </div>
      </div>
      <div class="shimmer__item">
        <div>
          <div class="shimmer__block" style="max-width: 254px"></div>
          <div class="shimmer__block" style="max-width: 129px"></div>
          <div class="shimmer__block" style="max-width: 162px"></div>
        </div>
        <div>
          <div class="shimmer__block" style="max-width: 190px"></div>
        </div>
      </div>
      <div class="shimmer__item">
        <div>
          <div class="shimmer__block" style="max-width: 254px"></div>
          <div class="shimmer__block" style="max-width: 129px"></div>
          <div class="shimmer__block" style="max-width: 162px"></div>
        </div>
        <div>
          <div class="shimmer__block" style="max-width: 190px"></div>
        </div>
      </div>
      <div class="shimmer__item">
        <div>
          <div class="shimmer__block" style="max-width: 254px"></div>
          <div class="shimmer__block" style="max-width: 129px"></div>
          <div class="shimmer__block" style="max-width: 162px"></div>
        </div>
        <div>
          <div class="shimmer__block" style="max-width: 190px"></div>
        </div>
      </div>
    </div>
  </div>