<div class="drawer-body">
  <div class="notification">
    <div class="row center-button">
        <div class="col-12">
          <div class="empty-layout">
            <img src="../../../assets/img/work-in-progress.png" />
            <span class="title">WIP</span>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="drawer-footer">
  <div>
    <vsa-button
      [type]="'button'"
      [role]="'primary'"
      size="small"
      (onClick)="actionEvent('cancel')"
      >Close</vsa-button
    >
  </div>
</div>
