@import '../../../../../../assets/style/partials/variables.scss';

.grid-chip-element {
    display: block;
    padding: 0px 15px;
    border-radius: 10px;
    min-width: 70px;
    height: 20px;
    font-family: $primary_font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    background: #AAAAAA;
    color: #FFFFFF;
    text-align: center;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    &.pink {
        background-color: #BC31EA;
    }
    &.purple {
        background-color: rgba(16, 49, 232, 0.75);
    }
    &.green {
        background-color: #089171;
    }
    &.yellow {
        background: #F2C94C;
    }
    &.orange {
        background: linear-gradient(90deg, rgba(222, 152, 58, 0.7) -3.49%, rgba(245, 133, 51, 0.7) 103.49%);
    }
    &.blue {
        background: #2D9CDB;
    }
}