@import "../../../assets/style/partials/variables.scss";
@import "./dashboard.component.scss";
.invoices {
  padding: 20px;
  .dashboard {
    .title {
      padding-left: 0px !important;
    }
  }
}

.row.header-row {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $border-color;
  // padding: 0px 20px;

  h3.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $global-grey-shade-6;
    // border-bottom: 1px solid $border-color;
    padding: 0px;
    // margin-bottom: 1em;
    // padding-bottom: 0.5em;
    // Custom for Add Button
  }
}

.formRow {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.searchForm {
  .row {
    align-items: center;
  }
}

.grid {
  padding-top: 10px;
}

.title {
  padding-top: 20px;
  color: $global-blue-gradient;
  margin: 0px;
  padding-left: 20px;
  font-weight: 500;
  span {
    font-weight: 400;
    background: #aaaaaa;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
  }
}

span.pipe {
  color: $border-color;
  padding: 0px 15px;
}

.empty-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: calc(100vh - 460px);
  img {
    width: 10%;
  }
  span.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 1em 0em;
    color: #5c5c5c;
    margin: 0px;
    font-family: "Open Sans";
    font-style: normal;
  }
  span.description {
    padding-bottom: 15px;
  }
}

.box {
  transition: box-shadow 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  &.selected {
    border: 3px dashed $global-theme;
  }
}

.pt5 {
  padding-top: 5px;
}

#pdfTable {
  display: none;
  width: 595px;
  height: 842px;
  .xl {
    font-size: 12px !important;
  }
  .larg {
    font-size: 10px !important;
  }
  * {
    font-size: 8px;
    line-height: 2em;
  }
  
  b {
    font-size: 12px;
  }
  padding: 3em;
  hr {
    margin: 0.5rem 0;
    color: inherit;
    border: 0;
    border-top: 5px solid #e0e0e0;
    opacity: 0.25;
  }
  .details-title {
    border-bottom: 2px solid #191919;
  }
  .table>:not(caption)>*>* {
    padding: 0px !important;
  }
}

#tableData {
  max-width: 2800px;
  width: 100%;
}

@media print { 
  /* All your print styles go here */
     #pdfTable { display: block !important; } 
 }