<div class="invoices">
  <form class="policiesForm">
    <div class="row header-row">
      <div class="col-6 text-left">
        <h3 class="title">
          Invoices
          <vsa-button
            class="ml-2"
            [type]="'button'"
            role="primary"
            (onClick)="onAddNewInvoiceClick()"
            size="small"
            [icon]="'add-1'"
            [iconSize]="'small'"
            >New
          </vsa-button>
        </h3>
      </div>
      <div class="col-6 text-right days-filter">
        <!-- <button class="menu" mat-button [matMenuTriggerFor]="menu">
          <mat-icon>filter_list</mat-icon>&nbsp;&nbsp;<span>{{
            displayPeriodText
          }}</span>
          <vsa-icon
            icon="arrow-drop-down"
            customColor="#394A64"
            size="medium"
          ></vsa-icon>
        </button> -->
        <mat-menu #menu="matMenu">
          <ng-container *ngFor="let item of periodData">
            <button mat-menu-item (click)="onPeriodSelect(item)">
              {{ item.name }}
            </button>
          </ng-container>
          <button mat-menu-item (click)="$event.stopPropagation()">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">From</span>
              <!-- <input
                type="text" onfocus="(this.type='date')" placeholder="Choose Date"
                  [(ngModel)]="from"
                  name="from"
                  class="customInput"
                /> -->
              <mat-form-field class="customDatePicker">
                <!-- <mat-label>Choose Date</mat-label> -->
                <input
                  name="fromDate"
                  matInput
                  [matDatepicker]="fromDate"
                  placeholder="Choose Date"
                  [(ngModel)]="from"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="fromDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #fromDate></mat-datepicker>
              </mat-form-field>
              <!-- <p-calendar [(ngModel)]="from" autoZIndex="true" baseZIndex="1000"></p-calendar> -->
              <!-- mat-form-field-label ng-tns-c138-3 ng-star-inserted mat-empty mat-form-field-empty -->
            </div>
          </button>
          <button mat-menu-item (click)="$event.stopPropagation()">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">To</span>
              <!-- <input type="text" onfocus="(this.type='date')" placeholder="Choose Date" [(ngModel)]="to" name="to" class="customInput"/> -->
              <mat-form-field class="customDatePicker">
                <!-- <mat-label>Choose Date</mat-label> -->
                <input
                  name="toDate"
                  matInput
                  [matDatepicker]="toDate"
                  [(ngModel)]="to"
                  placeholder="Choose Date"
                  [min]="from"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="toDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #toDate></mat-datepicker>
              </mat-form-field>
            </div>
          </button>
          <button class="text-center" mat-menu-item *ngIf="from && to">
            <!-- <span class="apply">Apply</span> -->
            <vsa-button
              role="secondary"
              size="small"
              color="blue"
              (onClick)="onResetClick()"
              >Reset</vsa-button
            >&nbsp;&nbsp;&nbsp;
            <vsa-button
              role="primary"
              size="small"
              color="orange"
              (onClick)="onApplyClick()"
              >Apply</vsa-button
            >
          </button>
          <!-- closeMenu() to be used to close the menu using mat-menu selector -->
        </mat-menu>
      </div>
    </div>
    <br />
    <div class="row content">
      <div class="col-12">
        <div class="dashboard mb-4 mt-2">
          <div class="row">
            <!-- Stats Card Filter -->
            <ng-container *ngFor="let item of statistics">
              <div
                class="col-2"
                (click)="selectedFilterType = item!.type; getInvoices(item!.type, true)"
              >
                <div
                  class="box"
                  [ngClass]="{
                    selected: selectedFilterType == item!.type
                  }"
                >
                  <div class="content">
                    <p class="title">
                      {{ item?.value | number }}
                      <!-- {{ item | json }} -->
                    </p>
                    <span class="description"> {{ item.label }} </span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- <form class="searchForm" [formGroup]="searchForm">
      <div class="row">
        <div class="col-2 pr5">
          <vsa-input
            [config]="searchFormConfig?.invoiceNoInput"
            formControlName="invoiceNo"
            [dataModel]="searchInvoiceModel"
          >
          </vsa-input>
        </div>
        <div class="col-2 pr5">
          <vsa-input
            [config]="searchFormConfig?.billToCustomerInput"
            formControlName="billToCustomer"
            [dataModel]="searchInvoiceModel"
          >
          </vsa-input>
        </div>
        <div class="col-2 pr5">
          <vsa-input
            [config]="searchFormConfig?.ewayNoInput"
            formControlName="ewayNo"
            [dataModel]="searchInvoiceModel"
          >
          </vsa-input>
        </div>
        <div class="col-2 pr5">
          <vsa-input
            [config]="searchFormConfig?.poNoInput"
            formControlName="poNo"
            [dataModel]="searchInvoiceModel"
          >
          </vsa-input>
        </div>
        <div class="col-4 pt5">
          <vsa-button
            [type]="'submit'"
            role="secondary"
            color="blue"
            (onClick)="onFilterApply()"
            size="small"
            >Apply
          </vsa-button>
          <vsa-button
            class="ml-2"
            [type]="'reset'"
            role="secondary"
            color="default"
            (onClick)="onClearClick()"
            size="small"
            >Clear
          </vsa-button>
        </div>
      </div>
    </form> -->
    <div class="row" *ngIf="!showGrid">
      <div class="col-12">
        <div class="empty-layout">
          <img src="../../../assets/img/no-policy.png" />
          <span class="title">Search Invoices</span>
          <span class="description"
            >Using the above filter options you can search the invoices.</span
          >
        </div>
      </div>
    </div>
    <div class="row" *ngIf="showGrid">
      <div class="col-12">
        <div class="grid">
          <vsa-grid
            #grid
            [rowData]="rowData"
            [config]="invoicesGridConfig"
            (onLinkClick)="onLinkClick($event)"
            (actionClicked)="actionClicked($event)"
          ></vsa-grid>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #drawerTemplate>
  <!-- [invoiceData]="selectedStepData" -->
  <invoice-generation
    (onBtnClick)="drawerAction($event)"
    [invoiceData]="invoiceData"
    [invoiceDrawerType]="invoiceDrawerType"
    *ngIf="pageComponentVisibility?.showInvoiceGeneration"
  ></invoice-generation>
</ng-template>

<!-- <div class="container-fluid" id="pdfTable" #pdfTable></div> -->
<div class="container-fluid" id="pdfTable" #pdfTable>
  <div class="row">
    <div class="col-md-12">
      <!-- {{ invoiceData | json }} -->
      <div class="row">
        <div class="col-md-8 text-left">
          <h3 class="invoice-title mb-0 xl" style="font-size: 12px !important">
            <!-- <b>Unified Logistics Solution Pvt. Ltd.</b> -->
            <b>{{ invoiceData?.companyDetails?.organization?.name }}</b>
          </h3>
          <p class="mb-0">
            {{ invoiceData?.companyDetails?.organizationBranch?.address }}
            {{ invoiceData?.companyDetails?.organizationBranch?.cityId }} -
            {{ invoiceData?.companyDetails?.organizationBranch?.pincode }},
            {{ invoiceData?.companyDetails?.organizationBranch?.stateId }} ({{
              invoiceData?.companyDetails?.organizationBranch?.countryId
            }})<br />
            <!-- Customer Branch Address<br /> -->
            <!-- City - Pincode, State (Country)<br /> -->
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3"><strong>STATE</strong></div>
                <!-- <div class="col-md-9">[00] State Name</div> -->
                <div class="col-md-9">
                  [00]
                  {{ invoiceData?.companyDetails?.organizationBranch?.stateId }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"><strong>CIN</strong></div>
                <!-- <div class="col-md-9">XXXXXXXX</div> -->
                <div class="col-md-9">
                  {{ invoiceData?.companyDetails?.organization?.cinNo }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3"><strong>GSTIN</strong></div>
                <!-- <div class="col-md-9">xxxxxxxxxxxxxxx</div> -->
                <div class="col-md-9">
                  {{ invoiceData?.companyDetails?.organizationBranch?.gstin }}
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"><strong>PAN</strong></div>
                <!-- <div class="col-md-9">xxxxxxxxxx</div> -->
                <div class="col-md-9">
                  {{ invoiceData?.companyDetails?.organizationBranch?.panNo }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <p class="invoice-title mb-0" style="font-size: 10px !important">
            <b>Tax Invoice</b>
          </p>
          <!-- <p>#INV-123</p> -->
          <p>#{{ invoiceData?.invoiceNo }}</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <p class="details-title mb-0" style="font-size: 10px !important">
            <!-- <b>Recipient (Company Details)</b> -->
            <b>Recipient Details</b>
          </p>
          <!-- <p class="mb-0"><b>Customer Name</b></p> -->
          <p class="mb-0">
            <b>{{ invoiceData?.companyDetails?.customer?.name }}</b>
          </p>
          <!-- <p class="mb-0">Customer Branch Address,</p> -->
          <p class="mb-0">
            {{ invoiceData?.companyDetails?.customerBranch?.address }}
          </p>
          <!-- <p class="mb-0">City - Pincode, State (Country)</p> -->
          <p class="mb-0">
            {{ invoiceData?.companyDetails?.customerBranch?.cityId }} -
            {{ invoiceData?.companyDetails?.customerBranch?.pincode }},
            {{ invoiceData?.companyDetails?.customerBranch?.stateId }} ({{
              invoiceData?.companyDetails?.customerBranch?.countryId
            }})
          </p>
          <div class="row">
            <div class="col-md-3"><strong>PAN NO</strong></div>
            <!-- <div class="col-md-9">Customer PAN</div> -->
            <div class="col-md-9">
              {{ invoiceData?.companyDetails?.customerBranch?.panNo }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"><strong>GST NO</strong></div>
            <!-- <div class="col-md-9">Customer Branch GST</div> -->
            <div class="col-md-9">
              {{ invoiceData?.companyDetails?.customerBranch?.gstin }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-3"><strong>STATE</strong></div>
            <!-- <div class="col-md-9">Customer Branch GST</div> -->
            <div class="col-md-9">
              {{ invoiceData?.companyDetails?.customerBranch?.stateId }}
            </div>
          </div>
        </div>
        <div class="col-md-6 pt-5">
          <div class="row">
            <div class="col-md-5"><strong>INVOICE DATE</strong></div>
            <!-- <div class="col-md-7">24 Oct, 2022</div> -->
            <div class="col-md-7">
              {{ (invoiceData?.invoiceDate | date: "mediumDate") || "-" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>DATE DUE</strong></div>
            <!-- <div class="col-md-7">24 Oct, 2022</div> -->
            <div class="col-md-7">
              {{ (invoiceData?.dueDate | date: "mediumDate") || "-" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>PLACE OF SUPPLY</strong></div>
            <!-- <div class="col-md-7">[xx] STATE</div> -->
            <div class="col-md-7">
              [xx] {{ invoiceData?.placeOfSupply || "-" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>SHIPMENT NO</strong></div>
            <!-- <div class="col-md-7">xxx/xxxxx/xxxx</div> -->
            <div class="col-md-7">{{ invoiceData?.shipmentNo || "-" }}</div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>SHIPMENT TYPE</strong></div>
            <!-- <div class="col-md-7">AIR EXPORT</div> -->
            <div class="col-md-7">{{ invoiceData?.shipmentTypeId || "-" }}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="details-title mb-0" style="font-size: 10px !important">
            <b>Shipment Details</b>
          </p>
          <div class="row">
            <div class="col-md-6"><strong>MAWB NO</strong></div>
            <!-- <div class="col-md-6">xxxxx-xxxxx-xxxx</div> -->
            <div class="col-md-6">
              {{ invoiceData?.shipmentDetails?.mawbNo || "-" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>HAWB NO</strong></div>
            <!-- <div class="col-md-6">xxxxxx</div> -->
            <div class="col-md-6">
              {{ invoiceData?.shipmentDetails?.hawbNo || "-" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>SB NO</strong></div>
            <!-- <div class="col-md-6">xxxxxxxxxxxxxx</div> -->
            <div class="col-md-6">
              {{ invoiceData?.shipmentDetails?.sbNo || "-" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>PACKAGES</strong></div>
            <!-- <div class="col-md-6">2 (Nos: Unit</div> -->
            <div class="col-md-6">
              {{ invoiceData?.shipmentDetails?.packageQty || 0 }} (NOS)
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>CHARGEABLE WT.</strong></div>
            <!-- <div class="col-md-6">1351.00 (KGS)</div> -->
            <div class="col-md-6">
              {{ invoiceData?.shipmentDetails?.chargeableWt || 0 }} (KGS)
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>GROSS WT.</strong></div>
            <!-- <div class="col-md-6">1351.00 (KGS)</div> -->
            <div class="col-md-6">
              {{ invoiceData?.shipmentDetails?.grossWt || 0 }} (KGS)
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>NET WT.</strong></div>
            <!-- <div class="col-md-6">0.00 (KGS)</div> -->
            <div class="col-md-6">
              {{ invoiceData?.shipmentDetails?.netWt || 0 }} (KGS)
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>VOLUME</strong></div>
            <!-- <div class="col-md-6">0.624 (CBM)</div> -->
            <div class="col-md-6">
              {{ invoiceData?.shipmentDetails?.volume || "-" }} (CBM)
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p class="details-title mb-0" style="font-size: 10px !important">
            <b>Airline Details</b>
          </p>
          <div class="row">
            <div class="col-md-5"><strong>DATE 1</strong></div>
            <!-- <div class="col-md-7">24 Oct, 2022</div> -->
            <div class="col-md-7">
              {{
                (invoiceData?.shipmentDetails?.date1 | date: "mediumDate") || "-"
              }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>DATE 2</strong></div>
            <!-- <div class="col-md-7">24 Oct, 2022</div> -->
            <div class="col-md-7">
              {{
                (invoiceData?.shipmentDetails?.date2 | date: "mediumDate") || "-"
              }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>ARRIVAL DATE</strong></div>
            <!-- <div class="col-md-7">24 Oct, 2022</div> -->
            <div class="col-md-7">
              {{
                (invoiceData?.shipmentDetails?.arrivalDate | date: "mediumDate") || "-"
              }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>CARGO TYPE</strong></div>
            <!-- cargoTypeId -->
            <!-- <div class="col-md-7">Loose</div> -->
            <div class="col-md-7">
              {{ invoiceData?.shipmentDetails?.cargoTypeName || "-" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>AIRLINE</strong></div>
            <!-- airlineId -->
            <!-- <div class="col-md-7">Air India</div> -->
            <div class="col-md-7">
              {{ invoiceData?.shipmentDetails?.airlineName || "-" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>FLIGHT NO.</strong></div>
            <!-- <div class="col-md-7">AI-XXX</div> -->
            <div class="col-md-7">
              {{ invoiceData?.shipmentDetails?.flightNo || "-" }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="details-title mb-0" style="font-size: 10px !important">
            <b>Consignment Details</b>
          </p>
          <div class="row">
            <div class="col-md-6"><strong>SHIPPER</strong></div>
            <div class="col-md-6">Shree Rang Logistics Pvt. Ltd.</div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>CONSIGNEE</strong></div>
            <div class="col-md-6">United Business Express Ltd.</div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>PLACE OF RECIEPT</strong></div>
            <div class="col-md-6">Ahemdabad</div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>LOADING PORT</strong></div>
            <div class="col-md-6">Ahemdabad</div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>DISCHARGE PORT</strong></div>
            <div class="col-md-6">Heathrow Apt/ London</div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>PLACE OF DELIVERY</strong></div>
            <div class="col-md-6">Heathrow Apt/ London</div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>DESTINATION PORT</strong></div>
            <div class="col-md-6">Heathrow Apt/ London (GBLHR), GTL)</div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>SHIPPER REF.</strong></div>
            <!-- <div class="col-md-6">NAN</div> -->
            <div class="col-md-6">
              {{ invoiceData?.shipmentDetails?.shipperRef || "-" }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6"><strong>INCO TERMS</strong></div>
            <!-- <div class="col-md-6">NAN</div> -->
            <div class="col-md-6">
              {{ invoiceData?.shipmentDetails?.incoTerms || "-" }}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p class="details-title mb-0" style="font-size: 10px !important">
            <b>Payment Details</b>
          </p>
          <div class="row">
            <div class="col-md-5"><strong>BANK NAME</strong></div>
            <div class="col-md-7">DBS Bank Limited</div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>BRANCH NAME</strong></div>
            <div class="col-md-7">Vikhroli West</div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>A/C NO</strong></div>
            <div class="col-md-7">820200147293</div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>IFSC CODE</strong></div>
            <div class="col-md-7">DBSS0IN0854</div>
          </div>
          <div class="row">
            <div class="col-md-5"><strong>SWIFT CODE</strong></div>
            <div class="col-md-7">DBSS0IN0854</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="details-title mb-0" style="font-size: 10px !important">
            <b>Charges</b>
          </p>
          <table class="table table-borderless">
            <tbody>
              <tr class="add">
                <td><strong>Sr. No.</strong></td>
                <td><strong>Description</strong></td>
                <td><strong>SAC/HSN</strong></td>
                <td><strong>Qty</strong></td>
                <td><strong>RATE</strong></td>
                <td><strong>CURRENCY</strong></td>
                <td><strong>Amount</strong></td>
              </tr>
              <tr class="content">
                <td>1</td>
                <td>Air Export Freight</td>
                <!-- <td>998314</td> -->
                <td>{{ invoiceData?.rateDetails?.hsnCode }}</td>
                <!-- <td>1351.00 (KGS)</td> -->
                <td>
                  <!-- {{ invoiceData?.shipmentDetails?.chargeableWt || 0 }} (KGS) -->
                  {{ invoiceData?.rateDetails?.quantity || 0 }} (KGS)
                </td>
                <!-- <td>198.00</td> -->
                <td>
                  Rs. {{
                    (invoiceData?.rateDetails?.rate | currency:'':'') || "0.00"
                  }}
                </td>
                <td>INR</td>
                <!-- <td>2,67,498.00</td> -->
                <td>
                  Rs. {{
                    (invoiceData?.rateDetails?.amount | currency:'':'') || "0.00"
                  }}
                </td>
              </tr>
              <tr class="content">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Taxable Amount&nbsp;:</td>
                <!-- <td>2,67,498.00</td> -->
                <td>
                  Rs. {{
                    (invoiceData?.rateDetails?.amount | currency:'':'') || "0.00"
                  }}
                </td>
              </tr>
              <tr class="content">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- <td>IGST @ 18%&nbsp;:</td> -->
                <td>
                   GST @
                  <!--{{
                    invoiceData?.rateDetails?.cgstRate +
                      invoiceData?.rateDetails?.sgstRate ==
                    0
                      ? invoiceData?.rateDetails?.igstRate
                      : invoiceData?.rateDetails?.cgstRate +
                        invoiceData?.rateDetails?.sgstRate
                  }} -->
                  18%&nbsp;:
                </td>
                <!-- <td>48,149.64</td> -->
                <td>
                  Rs. {{
                    (invoiceData?.rateDetails?.taxableAmount?.toLocaleString(
                      "en-IN"
                    )) || "0.00"
                  }}
                </td>
              </tr>
              <tr class="content">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total</b></td>
                <!-- <td><b>3,15,647.64</b></td> -->
                <td>
                  <b>Rs. {{
                    (invoiceData?.rateDetails?.totalAmount | currency:'':'') || "0.00"
                  }}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- <p class="mb-0"><b>Amount in words (INR): </b></p> -->
          <!-- currencyId -->
          <p class="mb-0">
            <b
              >Amount in words ({{
                invoiceData?.rateDetails?.currencyName || "INR"
              }}):
            </b>
          </p>
          <p class="mb-0">
            <!-- Three Lakh Fifteen Thousand Six Hundred Forty Eight Only -->
            {{ invoiceData?.rateDetails?.amountInWords || "-" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
