<ng-container *ngIf="!showCreatePassword">
  <div class="page-title">
    <h1>Confirm Temporary Password</h1>
    <p>
      Thank you for using the invite link! Please enter the information below.
    </p>
  </div>
  <form class="loginForm" [formGroup]="tempPasswordForm">
    <div class="row">
      <div class="col-6 pr5">
        <vsa-input
          [config]="loginInputConfig?.FirstNameInput"
          formControlName="firstName"
          [dataModel]="cTemporaryPassword"
        >
        </vsa-input>
      </div>
      <div class="col-6 pl5">
        <vsa-input
          [config]="loginInputConfig?.LastNameInput"
          formControlName="lastName"
          [dataModel]="cTemporaryPassword"
        ></vsa-input>
      </div>
    </div>

    <vsa-input
      [config]="loginInputConfig?.EmailIdInput"
      formControlName="emailId"
      [dataModel]="cTemporaryPassword"
    ></vsa-input>
    <vsa-input
      [config]="loginInputConfig?.TemporaryPasswordInput"
      formControlName="tempPassword"
      [dataModel]="cTemporaryPassword"
    ></vsa-input>
    <vsa-button
      [type]="'submit'"
      [loading]="isLoading"
      (onClick)="onTemporaryPasswordSubmit()"
      [disabled]="tempPasswordForm.invalid"
      [fullWidth]="'true'"
      size="medium"
      >Confirm
    </vsa-button>
  </form>
</ng-container>
<ng-container *ngIf="showCreatePassword">
    <div class="page-title">
      <h1>Create New Password</h1>
      <p>
        Please enter your new password information below.
      </p>
    </div>
    <form class="loginForm" [formGroup]="loginForm">
      <div class="row">
        <div class="col-6 pr5">
          <vsa-input
            [config]="loginInputConfig?.FirstNameInput"
            formControlName="firstName"
            [dataModel]="cNewPassword"
          >
          </vsa-input>
        </div>
        <div class="col-6 pl5">
          <vsa-input
            [config]="loginInputConfig?.LastNameInput"
            formControlName="lastName"
            [dataModel]="cNewPassword"
          ></vsa-input>
        </div>
      </div>
  
      <vsa-input
        [config]="loginInputConfig?.EmailIdInput"
        formControlName="emailId"
        [dataModel]="cNewPassword"
      ></vsa-input>
      <vsa-input
        [config]="loginInputConfig?.NewPasswordInput"
        formControlName="newPassword"
        [dataModel]="cNewPassword"
      ></vsa-input>
      <vsa-input
        [config]="loginInputConfig?.ConfirmNewPasswordInput"
        formControlName="confirmNewPassword"
        [dataModel]="cNewPassword"
      ></vsa-input>
      <vsa-button
        [type]="'submit'"
        [loading]="isLoading"
        (onClick)="onSubmit()"
        [disabled]="loginForm.invalid"
        [fullWidth]="'true'"
        size="medium"
        >Confirm
      </vsa-button>
    </form>
  </ng-container>
  <div class="toasty-layer" toastContainer></div>
  