@import '../../../../assets/style/partials/variables.scss';

.page-title {
    margin-top: 50px;
    h1 {
        font-weight: bold;
        font-size: $h2_font-size;
        color: $default_typo-color;
        text-transform: capitalize;
        line-height: 36px;
    }
    p {
        font-size: $default_font-size;
        color: $default_typo-color-2;
        margin: 0px;
        font-family: $primary_font-family;
    }
}
.pr5 {
    padding-right: 5px !important;
}
.pl5 {
    padding-left: 5px !important;
}
form.loginForm {
    margin-top: 3em;
    .more-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        a.forget-password {
            text-decoration: none;
        }
    }
}

.toasty-layer {
    position: fixed;
    top: 10px;
    right: 10px;
}

@media (min-width: 768px) {
    .toasty-layer {
        width: calc(58.88% - 28px);
    }
}



