<ng-container>
  <div class="page-title">
    <h1>Confirm Temporary Password</h1>
    <p>
      Thank you for using the invite link! Please enter the information below.
    </p>
  </div>
  <form class="loginForm" [formGroup]="loginForm">
    <div class="row">
      <div class="col-6 pr5">
        <vsa-input
          [config]="loginInputConfig?.FirstNameInput"
          formControlName="firstName"
          [dataModel]="cTemporaryPassword"
        >
        </vsa-input>
      </div>
      <div class="col-6 pl5">
        <vsa-input
          [config]="loginInputConfig?.LastNameInput"
          formControlName="lastName"
          [dataModel]="cTemporaryPassword"
        ></vsa-input>
      </div>
    </div>

    <vsa-input
      [config]="loginInputConfig?.EmailIdInput"
      formControlName="emailId"
      [dataModel]="cTemporaryPassword"
    ></vsa-input>
    <vsa-input
      [config]="loginInputConfig?.TemporaryPasswordInput"
      formControlName="tempPassword"
      [dataModel]="cTemporaryPassword"
    ></vsa-input>
    <vsa-button
      [type]="'submit'"
      [loading]="isLoading"
      (onClick)="onSubmit()"
      [disabled]="loginForm.invalid"
      [fullWidth]="'true'"
      size="medium"
      >Confirm
    </vsa-button>
  </form>
</ng-container>
<div class="toasty-layer" toastContainer></div>
